/* # @ ! Tag formatting */
code { font-size: 12px; color: #4d4d4d; }
.card-short-id { margin-right: 3px; margin-left:4px; color: #a3acb1; font-size: 12px; float: right; }
.card-tag { margin-right: 3px; margin-left:4px; color: #a3acb1; font-size: 12px; float: right; }
.badge { color: #a3acb1; }
.badge-icon { color: #b3bcc1; }

/* Hide all lists until TrelloX is installed */
#board {
  opacity: 0;
}

/* Collapsed List width */
.js-list.collapsed {
  width: 38px;
}

/* Hide collapsed Lists */
.js-list.collapsed .list * {
  display: none;
}

/* But show the title bars */
.js-list.collapsed .list-header, .js-list.collapsed .collapse-toggle {
  display: block;
  min-height: 230px;
}

/* Reduce with of title text to accommodate collapse icon */
.js-list .list-header-name {
  width: calc(100% - 22px);
}

/* Collapsed List header formatting */
.js-list.collapsed .list-header-name {
  width: 204px;
  display: block;
  transform: rotate(90deg);
  transform-origin: top left;
  top: 29px;
  left: 2px;
  position: relative;
  -webkit-text-stroke:.025em rgba(51,51,51,0.7);
}

/* Collapse icon common formatting */
.collapse-toggle {
  float: left;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
  position: relative;
}

/* Down collapse icon formatting */
.collapse-toggle:after {
  display: block;
  content: '';
  border-top: 5px solid #999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 8px;
  left: 5px;
}

/* Right collapse icon formatting */
.js-list.collapsed .collapse-toggle:after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #999;
  top: 5px;
  left: 8px;
}
